<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alpha">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ithb_putih"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:label="@string/menu_video_trial_soal"
            android:name=".activities.video.PlayVideoActivity"></activity>
        <activity
            android:name=".activities.video.VideoActivity"
            android:label="@string/menu_video_trial_soal"></activity>
        <activity
            android:name=".activities.leaderboard.petunjuk.PetunjukLeaderboardActivity"
            android:excludeFromRecents="true"
            android:theme="@style/TemaDialog" />
        <activity
            android:name=".activities.leaderboard.global.LeaderboardGlobalActivity"
            android:label="@string/leaderboard_global" />
        <activity
            android:name=".activities.leaderboard.askgram.LeaderboardAskgramActivity"
            android:label="@string/leaderboard_askgram" />
        <activity
            android:name=".activities.to.grafik.GrafikToActivity"
            android:label="@string/analisa_grafik" />
        <activity
            android:name=".activities.to.analisa.detail.DetailAnalisaToActivity"
            android:label="@string/detail_analisa" />
        <activity
            android:name=".activities.to.analisa.home.AnalisaToActivity"
            android:label="@string/analisa" />
        <activity
            android:name=".activities.to.pembahasan.PembahasanToActivity"
            android:label="@string/pembahasan" />
        <activity
            android:name=".activities.to.finish.FinishToActivity"
            android:label="@string/selesai" />
        <activity
            android:name=".activities.to.screen.TryoutScreenActivity"
            android:label="@string/tryout" />
        <activity
            android:name=".activities.to.intro.IntroToActivity"
            android:label="@string/tryout" />
        <activity
            android:name=".activities.leaderboard.detail.DetailLeaderboardActivity"
            android:label="@string/title_activity_detail_leaderboard" />
        <activity
            android:name=".activities.leaderboard.home.LeaderboardHomeActivity"
            android:label="@string/leaderboard_first_try" />
        <activity
            android:name=".activities.bank_soal.detail.DetailBankSoalActivity"
            android:label="@string/bank_soal" />
        <activity
            android:name=".activities.bank_soal.list.ListBankSoalActivity"
            android:label="@string/bank_soal" />
        <activity
            android:name=".activities.askgram.RecordAudioActivity"
            android:label="@string/rekam_audio" />
        <activity
            android:name=".activities.askgram.AddPostActivity"
            android:label="@string/post_baru" />
        <activity
            android:name=".fragments.askgram.KoorActivity"
            android:label="@string/title_activity_koor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.detail_tryout.DetailTryoutActivity"
            android:label="@string/tryout" />
        <activity
            android:name=".activities.list_tryout.ListTryoutActivity"
            android:label="@string/tryout" />
        <activity
            android:name=".activities.materibelajar.MateriBelajarActivity"
            android:label="@string/materi_belajar" />
        <activity
            android:name=".activities.splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.askgram.DetailAskgramActivity"
            android:label="Detail Post" />
        <activity
            android:name=".activities.to.home.ToActivity"
            android:label="@string/tryout" />
        <activity
            android:name=".activities.rencanabelajar.RencanaBelajarActivity"
            android:label="@string/rencana_belajar" />
        <activity
            android:name=".activities.EditAkunActivity"
            android:label="@string/edit_akun" />
        <activity
            android:name=".activities.NavigasiActivity"
            android:label="@string/title_activity_navigasi" />
        <activity
            android:name=".activities.PasswordBaruActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/registrasi"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>